* {
    font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
   margin: 0;
}

.hstack {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.topnav {
    width: 99%;
    background-color: #ffffff99;
    overflow: auto;
    padding: 0px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-right: 0.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    backdrop-filter: blur(7.5px);
    box-shadow: 2px 2px 5px #4d4d4d44;
}

img.topnav {
    display: flex;
    flex-direction: row;
}

.popupbar {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: #E7F7FF;
    padding: 10px;
    margin: 10px;
    background: hsla(164, 96%, 79%, 1);
    background: linear-gradient(135deg, hsla(164, 96%, 79%, 1) 100%, hsla(181, 100%, 80%, 1) 0%);
    background: -moz-linear-gradient(135deg, hsla(164, 96%, 79%, 1) 100%, hsla(181, 100%, 80%, 1) 0%);
    background: -webkit-linear-gradient(135deg, hsla(164, 96%, 79%, 1) 100%, hsla(181, 100%, 80%, 1) 0%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BFDFF", endColorstr="#94FDE1", GradientType=1 );
    box-shadow: 0px 2px 3px #4d4d4d22;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
    align-items: stretch;
    height: 100%;
    width: 100%;
    transition: 0.1s linear 100ms
}

.topnav a:hover {
    background-color: #008268;
    border-radius: 20px;
    color: white;
    transition: 0.1s linear 100ms
}

.topnav a:hover.nohighlight {
    /* background-color: #04c4a1; */
    color: white;
    transition: 0.1s linear 100ms
}

.mainfocus {
    margin: 0;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    padding: 19% 0;
    text-align: center;
    background: hsla(168, 87%, 30%, 1);
    background: linear-gradient(200deg, hsla(168, 87%, 30%, 0.8) 0%, hsla(146, 75%, 52%, 1) 100%);
    background: -moz-linear-gradient(200deg, hsla(168, 87%, 30%, 0.8) 0%, hsla(146, 75%, 52%, 1) 100%);
    background: -webkit-linear-gradient(200deg, hsla(168, 87%, 30%, 0.8) 0%, hsla(146, 75%, 52%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0A9176", endColorstr="#27E077", GradientType=1 );
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 8px #4d4d4d66;
}

.h1mainfocus {
    font-size: 60px;
    text-align: center;
}

.h1mainfocus2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #008268;
}

.h2mainfocus {
    font-size: 30px;
    font-weight: 200;
    min-width: 40%;
    text-align: center;
    margin: auto;
}

.h4mainfocus {
    font-size: 20px;
    font-weight: 300;
    width: 75%;
    text-align: center;
    margin: auto;
}

.bgGray {
    background: #F1F5F9;
}

.bgGradientA {
    background: hsla(164, 96%, 79%, 1);
    background: linear-gradient(90deg, hsla(163, 100%, 90%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(163, 100%, 90%, 1)0%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(163, 100%, 90%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EAFFF9", endColorstr="#FFFFFF", GradientType=1 );
}

.bgGradientB {
    background: hsla(164, 96%, 79%, 1);
    background: linear-gradient(270deg, hsla(163, 100%, 90%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(163, 100%, 90%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(163, 100%, 90%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EAFFF9", endColorstr="#FFFFFF", GradientType=1 );
}

.boldButton {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    background: #008268;
    color: white;
    text-decoration: none;
}

.spacer {
    margin-left: 15px;
    margin-right: 15px;
}

.semiButton {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 8px;
    padding-left: 58px;
    padding-right: 58px;
    border-radius: 10px;
    background: #00826811;
    border: 2px solid #008268;
    color: #008268;
    text-decoration: none;
}

@media (max-width: 750px) {
    .topnav {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        border-radius: 0;
    }
    .topnav a {
        display: none;
    }
    .topnav a.nohighlight {
        display: block;
        width: auto;
        height: auto;
        opacity: 100%;
        margin-left: 0px;
    }
}
